.input {
   border: 0;
   padding: 0;
   padding-left: 2px;
   border-radius: 5px;
   height: 30px;
   background-color: whitesmoke;
   font-size: 18px;
   width: 100%;
}

.input:focus {
   border: 1px 0px solid black;
   outline: 0;
}

.input-div {
   display: block;
   border-top: 2px solid rgb(100, 100, 100);
   position: relative;
   width: 40%;
}

.input-div:focus-within::after {
   animation: animacaoinput 0.45s ease-out forwards;
}

.input-div::after {
   content: " ";
   width: 0%;
   background-color: black;
   height: 2px;
   position: absolute;
   bottom: -5px;
   left: 50%;
}

.input-div-azul::after {
   content: " ";
   width: 0%;
   background-color: blue;
   height: 2px;
   position: absolute;
   bottom: -5px;
   left: 50%;
}

.input-div-vermelho::after {
   content: " ";
   width: 0%;
   background-color: red;
   height: 2px;
   position: absolute;
   bottom: -5px;
   left: 50%;
}

.input-l-100 {
   width: 100%;
}

.input-l-75 {
   width: 75%;
}

.input-l-50 {
   width: 50%;
}

.input-l-25 {
   width: 25%;
}

@keyframes animacaoinput {
   to {
      width: 100%;
      left: 0;
   }
}